@import "tailwindcss";

* {
  box-sizing: border-box;
}

@layer components {
  section {
    @apply flex w-full;
  }
  img {
    @apply object-cover;
  }
  .flex-colBox {
    @apply flex flex-col w-full;
  }
  .flex-rowBox {
    @apply flex flex-row w-full;
  }
  .max-w-content {
    @apply max-w-screen-xl mx-auto;
  }
  .flex-boxCenter {
    @apply items-center justify-center;
  }
  @media (min-width: 768px) {
    .vlText-md {
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }
  .vlText {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .custom-title {
    font-family: "Noto Serif TC", serif;
    @apply font-bold text-4xl leading-[50px] text-[#3F5D45];
  }
  .custom-title-rotate {
    @apply inline-block rotate-90 md:rotate-0;
  }
  .home-title-y {
    background-color: rgba(255, 225, 128, 0.7);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-title-y:hover {
    background-color: #ffe180;
  }
  .home-title-g {
    background-color: rgba(63, 93, 69, 0.7);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-title-g:hover {
    background-color: #3f5d45;
  }
  @media (min-width: 768px) {
    .md-order-1 {
      order: 1;
    }
    .md-order-2 {
      order: 2;
    }
    .md-order-3 {
      order: 3;
    }
    .md-order-4 {
      order: 4;
    }
    .md-order-5 {
      order: 5;
    }
    .md-order-6 {
      order: 6;
    }
    .md-order-7 {
      order: 7;
    }
  }
  .btn-y {
    @apply bg-[#FFE180] hover:bg-[#E6C75B] text-[#3F5D45] font-bold transition-colors;
  }
  .gsap-btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .gsap-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 0;
    background-color: #3f5d45; /* 可改為你要的顏色 */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .gsap-btn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .block-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;
    overflow: hidden;
  }
  .block-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  .block-item a {
    transition: all 0.3s ease;
  }
  .block-item:hover a {
    transform: scale(1.1);
  }
  .fade-section {
    opacity: 0;
    transform: translateY(50px);
  }
  .slide-fade-text {
    display: inline-block;
    white-space: nowrap;
  }
}
